<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230252493960-ov0856ctbjah1c0pp5cvub5ea2idffc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230252493960-ov0856ctbjah1c0pp5cvub5ea2idffc8</string>
	<key>API_KEY</key>
	<string>AIzaSyAt5rcECGQ9E_LVvE98TO5_kkbIvd6yMZI</string>
	<key>GCM_SENDER_ID</key>
	<string>230252493960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getdonor</string>
	<key>PROJECT_ID</key>
	<string>donor-indonesia</string>
	<key>STORAGE_BUCKET</key>
	<string>donor-indonesia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230252493960:ios:592509af1e83dedd30733d</string>
</dict>
</plist>